[Desktop Entry]
Encoding=UTF-8
Name=Link to BenchmarkESMcontroller/Description
Type=Link
URL=http://automata.cs.ru.nl/BenchmarkESMcontroller/Description
Icon=text-html
Name[en_GB]=Link to BenchmarkESMcontroller
