[Desktop Entry]
Encoding=UTF-8
Name=Link to BenchmarkCoffeeMachine/Description
Type=Link
URL=http://automata.cs.ru.nl/BenchmarkCoffeeMachine
Icon=text-html
Name[en_GB]=Link to BenchmarkCoffeeMachine
